fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
pydantic
email-validator
passlib[argon2]
PyJWT[crypto]
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-sqlalchemy
opentelemetry-sdk
pytest
httpx
